@media only screen and (min-width : 912px) and (max-width : 1440px){

body{
    margin-top : 1%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

span{
    text-align: center;
    background-color: black;
    color: white;
    font-size : 50px;
    font-weight: 700;
    border-radius: 10px;
    text-shadow: 0 0 20px #FF0000, 0 0 20px yellowgreen;
    margin-left: 44%;
    

}

.container{
    display: flex;
    flex-wrap: wrap;
    height : 100%;
    width : 100%;
    justify-content: space-evenly;
}
.child{
    height : 280px;
    width : 300px;
    border: 1px solid black;
    padding: 1%;
}

.text{
    height : 30%;
    width  : 100%;
    padding : 2%;
}

.text input{
    margin-left : 25%;
    height : 40px;
    width : 40%;
    font-size: x-large;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border : 1px solid white;
    padding : 0.5%;

}
.text button{
    height : 40px;
    width : 140px;
    margin-left : 20px;
    color: white;

}

.child button{
    width: 100px;
    height : 40px;
    margin: 10px;
    color : white;
}

button{
    cursor: pointer;
    border-radius: 10px;
    background-color: green;
    border : 1px solid green;
    font-weight: 600;
    font-size: larger;
  
}

.setText{
    height : 30px;
    width : 150px;
    margin-left: 2%;
    font-size: larger;
    border-radius: 10px;
    border : 1px solid white;
    padding : 2%;
}

}



@media only screen and (min-width : 0px) and (max-width : 512px){

    body{
        margin-top : 3%;
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    }
    
    span{
   
        text-align: center;
        background-color: black;
        color: white;
        font-size : 50px;
        font-weight: 700;
        border-radius: 10px;
        text-shadow: 0 0 20px #FF0000, 0 0 20px yellowgreen;
        margin-left: 25%;
        
    
    }
    
    .container{

        display: flex;
        flex-wrap: wrap;
        height : 100%;
        width : 100%;
        justify-content: space-evenly;
        margin-top: 10%;
        
    }
    .child{
        height : 280px;
        width : 300px;
        border: 1px solid black;
        padding: 1%;
    }
    
    .text{
        height : 30%;
        width  : 100%;
        padding : 2%;
    }
    
    .text input{
        margin-left : 3%;
        height : 40px;
        width : 60%;
        font-size: x-large;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
        border : 1px solid white;
        padding : 0.5%;
        margin-top: 10%;
    
    }
    .text button{
        height : 40px;
        width : 100px;
        margin-left : 15px;
        color: white;
    
    }
    
    .child button{
        width: 100px;
        height : 40px;
        margin: 10px;
        color : white;
    }
    
    button{
        cursor: pointer;
        border-radius: 10px;
        background-color: green;
        border : 1px solid green;
        font-weight: 600;
        font-size: medium;
      
    }
    
    .setText{
        height : 30px;
        width : 150px;
        margin-left: 2%;
        font-size: larger;
        border-radius: 10px;
        border : 1px solid white;
        padding : 2%;
    }



}
